<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Speed - Asynchronous Card Game</title>
    <style>
        [ng-cloak] {
            display: none;
        }
    </style>
</head>
<body style="background-color:gray" ng-app="speedApp" ng-controller="SpeedCtrl" ng-cloak>
<div class="container" style="background-color:green;min-height: 500px;padding-bottom:300px">
    <h1 style="text-align: center;: center; color:white">
        {{d.title}}
    </h1>
    <div ng-if="!d.gameState" class="loader">Waiting for player<span class="loader__dot">.</span><span
            class="loader__dot">.</span><span
            class="loader__dot">.</span></div>
    <div id="game-play" ng-if="d.gameState">
        <div class="card-row">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-3">
                    <img class="card" alt="card10" src="img/BCard_Back.png"/>
                </div>
            </div>
        </div>
        <div class="card-row">
            <div class="row">
                <div class="col-xs-3">
                    <img class="card" alt="card0" src="img/BCard_Back.png"/>
                </div>
                <div class="col-xs-6" style="text-align: center;">
                    <div style="float:left" ui-on-Drop="d.onDrop($event,$data,d.playedCards, d.gameState.playCard1, 1)">
                        <img ui-draggable="false"
                             class="card" alt="card{{$index}}" src="{{d.gameState.playCard1.src}}"/>
                    </div>
                    <div ui-on-Drop="d.onDrop($event,$data,d.playedCards, d.gameState.playCard2, 2)">
                        <img ui-draggable="false"
                             class="card" alt="card{{$index}}" src="{{d.gameState.playCard2.src}}"/>
                    </div>
                </div>
                <div class="col-xs-3 hhand active-hand">
                    <img ng-click="d.stale()" class="card" alt="card10" src="img/BCard_Back.png"/>
                </div>
            </div>
        </div>
        <div class="card-row">
            <div class="row">
                <div class="col-xs-6">
                    <div class="hand hhand-compact active-hand">
                        <img ui-draggable="true" drag="card"
                             on-drop-success="d.dropSuccessHandler($event,card)"
                             ng-repeat="card in d.gameState.player.hand.cards"
                             class="card" alt="card{{$index}}" src="{{card.src}}"/>
                    </div>
                </div>
                <div class="col-xs-6 hhand active-hand" style="float:right">
                    <img trans-card ng-click="d.drawCard()" class="card" alt="card10" src="img/BCard_Back.png"/>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="css/speedDraggable.css">
<link href="cards.css" rel="stylesheet" type="text/css">
<script src="js/thirdParty/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="js/thirdParty/angular.min.js"></script>
<script src="js/thirdParty/angularui_bootstrap.min.js"></script>
<script src="js/thirdParty/dragndrop.js"></script>
<script src="js/directives/transitionCard.js"></script>
<script src="js/models/card.js"></script>
<script src="js/speedController.js"></script>
<!--<script src="/js/main.js"></script>-->
</body>
</html>