<div>
    <style>
        .tcard {
            transition: all linear 0.5s;
            height: 100px;
            width: 100%;
            position: relative;
            top: 0;
            left: 0;
        }
        .ng-hide {
            height: 0;
            width: 0;
            background-color: transparent;
            top:-200px;
            left: 200px;
        }
    </style>
    <div ng-controller="TransitionCard as tcc">
        <div ng-show="tcc.showCard" class="tcard">
            <ng-transclude></ng-transclude>
        </div>
    </div>
</div>